
body{
    font-family: "Open Sans", sans-serif;
}
.about-left ul li{
    display: inline-block;
    margin: 20px 10px;
    transform: translateY(50%);
}
.about-right ul li{
    display: inline-block;
    margin: 20px 10px;
    
}
.about-right ul li a{
    color: gray;
    font-size: 15px;
}
.about-left ul li a{
    color: gray;
}
.about-right ul {
    transform: translateX(-10%);
}

i{
    margin-right: 10px;
}
.about img{
   transform: translateX(-20%);
   position: relative;

}
.row-class{
    border-bottom: 1px solid gray;
    
}

.about-class {
    background-image: url("https://hellloexpert.com/tf/html/nasarna/assets/images/breadcumb/img-1.jpg");
    position: absolute;
    background-position: center;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.about-class::after{
    content: '';
    opacity: 0.5;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    

}

.list-about li{
  display: inline-block;
}
.text h1{
    color: white;
    font-size: 40px;
}
.text p{
    color: white;
    font-size: 20px;
}
.text span{
    color: orange;
    font-size: 16px;

}
.phone{
    border-right: 1px solid lightslategray;
    margin-left: 30px;
}
.nav-list ul li{
    display: inline-block;

}
.nav-list ul{
    margin: 50px 20px;
    font-size: 20px;
}
.nav-list li{
    margin-left: 30px;
}
.nav-list li a{
    color: gray;
}
.events{
    height: 350vh;
}
.about-down{
    margin-top: 250px;
}
.about-down h4{
    text-align: left;
    color: orange;

}
.about-down h1{
    text-align: left;
    color: darkblue;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
   font-style: normal;
   color: darkblue;
    
}
.about-down img{
    vertical-align: middle;
    border: 0;
    width: 530px;
    margin-left: 90px;
    margin-top: -100px;
    
}

.about-down p{
    color: #777777;
    line-height: 1.6em;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: gray;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.hero p{
  margin-left: 190px;
}
.fa-universal-access{
    margin-left: 130px;
    margin-top: 30px;
}
.donate{
    padding: 10px 30px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
.hero h1{
    margin-left: 190px;
    margin-top: -40px;
}
.about-des{
    margin-top: 380px;
}
.events-class p{
    font-size: 16px;
    color: orange;
    text-align: center;
    position: relative;
}
.events-class h1{
   font-size: 40px;
   font-family: "Roboto", sans-serif;
   font-weight: 700;
  font-style: normal;
  color: darkblue;
  text-align: center;

}
.events-class{
    margin-top: 300px;
}
.ul-list{
    display: flex;
    list-style: none;
    margin-left: 10px;
   
}
.ul-list li{
    margin-right: 15px;
}
.list-1{
    text-align: center;
    width: 95%;
    left: 50%;
    position: relative;
    box-shadow: 0px 2px 9.8px 0.2px rgba(85, 85, 85, 0.07);
    background-color: white;
    padding: 30px;
    transform: translateX(-49%);
    margin-top: -50px;
}
.clock{
    margin-left: -40px;
}
.events-list p{
    text-align: left;
    margin-left: 10px;
    font-size: 16px;
    color: #777777;
    font-weight: 400;

}
.events-list h4{
    color: orange;
    text-align: left;
    margin-left: 10px;
}
.events-list{
    margin-top: 70px;
}
.list-2{
    text-align: center;
    width: 95%;
    left: 50%;
    position: relative;
    box-shadow: 0px 2px 9.8px 0.2px rgba(85, 85, 85, 0.07);
    background-color: white;
    padding: 30px;
    transform: translateX(-49%);
    margin-top: -50px;
}
.list-2 h3{
    margin-left: -30px;
}
.list-3{
    text-align: center;
    width: 95%;
    left: 50%;
    position: relative;
    box-shadow: 0px 2px 9.8px 0.2px rgba(85, 85, 85, 0.07);
    background-color: white;
    padding: 30px;
    transform: translateX(-49%);
    margin-top: -50px;
}
.list-3 h3{
    margin-left: -90px;
}
.footer-down h1{
    text-align: center;
    color: white;
}
.footer-down{
    background-color: darkblue;
    margin-top: 100px;
}
.footer-down input{
    width: 400px;
    height: 50px;
    border-radius: 50px;
    text-align: left;
    color: gray;
    font-size: 15px;
    background-color: white;
    transform: translateX(90%);
    margin-top: 40px;
    border: none;
}
.events-icons i{
    color: white;

}
.events-icons{
    display: flex;
    list-style: none;
    margin-left: -35px;
}

.footer-down button{
    transform: translateX(230%);
    height: 45px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: orange;
    border: none;
    color: white;
    opacity: 0.6;
    font-size: 15px;
    
}
.para{
color: white;
font-size: 19px;
}
.footer-down p{
    color: white;
}
.footer-down h3{
    color: white;
}
.content-para{
    color: white;
}
.news-text{
  margin-left: 90px;
  margin-top: -85px;
}
.links-li{
    color: white;
    list-style: none;
    margin-left: -35px;
}
.contact-p{
    transform: translateX(-4%);
}
.links-li li{
    margin: 15px 0;
    color: white;
}
.links-li li a{
    color: white;
}
.contact-li{
    color: white;
    list-style: none;
    margin-left: -35px;
}
.contact-li li a{
    color: white;
}
.contact-li li{
        margin: 15px 0;
        color: white;
   
}
.footer-con{
    margin-top: 50px;
}
.hero-2{
    margin-left: -110px;
}
.copy-right{
    text-align: center;
    color: white;
    margin-top: 70px;
    font-family: "Roboto", sans-serif;
   font-weight: 700;
  font-style: normal;

}
.copyright{
    background-color: rgba(0,0,0, 0.4);
}
