body{
    font-family: "Open Sans", sans-serif;

}
.section-nav ul li{
    display: inline-block;
    margin: 20px 20px;

}
.section-nav ul {
   margin-left: -10px;

}

.section-right ul li{
     display: inline-block;
     
}
.section-right ul{
    float: right;
    margin-left: -50px;
    margin: 10px 20px;
}
.section-right ul li{
    margin: 10px 10px;
}
a{
    color: white;
    font-size: 15px;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-list .list{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
}
.nav-list li {
    margin: 20px 20px;
}
.hero{
    margin: 0px 45px;
}
.nav-sec{
    border-bottom: 1px solid rgba(22, 22, 24, 0.3);
}
.hero-section{
    border-bottom: 1px solid rgba(15, 15, 15, 0.3);
}
.image{
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    position: absolute;
    height: 100%;
    opacity: 0.7;
    background-image: url("https://hellloexpert.com/tf/html/nasarna/assets/images/slider/slide-1.jpg");
}
.image::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.5;
    position: absolute;
}
.index{
    height: 200vh;
}
.navbar-default{
    color: black;
}
.fa-bars{
    display: none;
}
.dropdown-ul{
    display: block;
    margin-left: -35px;
}
.dropdown-ul a{
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    margin-left: 45px;
    
    
}
.drop a{
    padding: 10px;
    color: #777777;
}
.dropdown-menu a{
    color:  #777777;
}
.hero{
    color: white;
}
.body-section{
    margin-left: 48px;
    margin-top: 100px;
}
.body-section h2{
    color: white;
    font-size: 50px;
}
.body-section p{
    color: white;
    line-height: 25px;
    font-size: 17px;
}
.sec-body{
    color: orange;
}
.body .btn{
    padding: 10px 30px;
    color: blue;
    background-color: orange;

}
.body .btn1{
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    border: none;
    margin-left: 40px;
    background-color: rgba(250, 246, 246, 0.3);
}
@media(max-width:640px){
    .nav-list .list {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;

    }
    .list {
        height: 0;
        overflow: hidden;
    }
   
    .fa-bars{
        cursor: pointer;
        display: flex;
        color: black;
        margin-top: -50px;
    }
    .bars{
        float: right;
    }
    .nav-list li {
    margin: 0px 5px;
}
.show-menu{
    height: 50px;
}
    
}